<html>
  <head>
    <meta charset="utf-8">
    <title>Viking Store Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <h1>Viking Store Analytics Dashboard</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>1. Overall Platform</h2>
          <h3>Last 7 Days</h3>
          <%= render partial: "overall_table", locals: {days: 7} %>
          <h3> Last 30 Days</h3>
          <%= render partial: "overall_table", locals: {days: 30} %>
          <h3>Total</h3>
          <%= render partial: "overall_table", locals: {days: nil} %>
        </div>
        <div class="col-md-6">
          <h2>2. User Demographics and Behavior </h2>


        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>3. Order Statistics</h2>
        </div>
        <div class="col-md-6">
          <h2>4. Time Series Data</h2>
        </div>
      </div>
    </div>
